body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
}

.nav-link.active {
  border: 1px solid #0d6efd;
  border-radius: 5px;
  color: #0d6efd;
  background-color: transparent;
}

.espacio {
  width: 100%;
  height: 3rem;
}
